@import "tailwindcss";

:root {
  --ivory: ivory;
  --dark-olive: #5c6748;
  --dark: #22201b;
}

@theme inline {
  --color-ivory: var(--ivory);
  --color-dark-olive: var(--dark-olive);
  --color-dark: var(--dark);

  --font-jost: var(--font-jost);
  --font-cormorant-garamond: var(--font-cormorant-garamond);
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-col-center {
  @apply flex flex-col items-center justify-center;
}

@utility form-item {
  @apply flex flex-col items-center justify-center gap-3;
}

@utility form-label {
  @apply text-[10px] text-dark-olive font-normal uppercase tracking-[4px];
}

@utility form-input {
  @apply w-full font-cormorant-garamond text-center text-2xl text-dark-olive placeholder:text-dark-olive/60 border-dark-olive border-b-1 outline-0;
}

@utility input-number {
  @apply max-w-25 appearance-none [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none;
}

@utility btn {
  @apply w-full bg-dark-olive text-ivory px-3 sm:px-4 py-2 sm:py-3 rounded-[50] uppercase tracking-[2px] border border-dark-olive font-normal cursor-pointer hover:bg-ivory hover:text-dark-olive transition duration-300;
}

@utility form-radio-label {
  @apply w-full flex flex-center bg-dark-olive text-ivory px-1.5 sm:px-2 py-3 rounded-[50] text-center uppercase tracking-[2px] font-normal cursor-pointer hover:bg-ivory transition duration-300;
}

@layer base {
  body {
    min-height: 100vh;
  }

  body::before {
    content: "";
    position: fixed;
    inset: 0;
    z-index: -1;

    background-image:
      radial-gradient(
        ellipse at center,
        rgba(251,248,242,.92) 0%,
        rgba(251,248,242,.75) 25%,
        rgba(251,248,242,.45) 45%,
        rgba(251,248,242,.12) 70%,
        transparent 100%
      ),
      url("/images/bg.avif");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  h1 {
    @apply flex flex-col text-7xl sm:text-9xl text-dark-olive text-center font-thin font-cormorant-garamond uppercase my-8;
  }

  h2 {
    @apply text-4xl sm:text-5xl text-dark-olive font-normal font-cormorant-garamond;
  }
  
  h3 {
    @apply text-[10px] sm:text-sm text-ivory font-normal uppercase tracking-[6px];
  }
}

@layer components {
  .hero {
    @apply min-h-screen;
  }

  .section {
    @apply relative min-h-screen flex-col-center px-6 py-16 sm:py-20;
  }

  .marked-text {
    @apply text-5xl text-dark-olive text-center font-thin lowercase italic font-cormorant-garamond;
  }

  .countdown-item {
    @apply flex-col-center w-28 h-28 gap-3 rounded-2xl bg-dark-olive text-ivory;
  }

  .countdown-item-number {
    @apply text-6xl font-cormorant-garamond;
  }

  .countdown-item-text {
    @apply text-xs font-thin tracking-[4px] uppercase;
  }

  .schedule-item {
    @apply flex-col-center gap-4;
  }

  .btn-map {
    @apply flex-center w-fit px-4 py-3 bg-dark-olive text-ivory gap-3 text-xs uppercase font-normal tracking-[3px] rounded-lg;
  }

  .rsvp {
    @apply w-full max-w-md mx-auto px-5 py-8 sm:p-12 bg-ivory/70 rounded-xl;
  }
}

body {
  color: var(--dark);
  font-family: var(--font-jost);
}